<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Anorexic Pacman</title>
  <script src="modernizr-2.0.6.min.js"></script>
  <link rel="stylesheet" href="screen.css" type="text/css" />
</head>

<body>
  <div id="shim">shim for font face</div>

  <h1>Anorexic Pacman</h1>


  <div class="wrap">
    <div class="inner-wrap">
      <div id="start" class="panel">Loading…</div>
      <div id="pacman" class="panel"></div>
      <div id="highscores" class="panel">
      <h2>High Scores</h2>
      <table>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Calories</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1st</td>
            <td>280</td>
            <td>ChuckN</td>
          </tr>
          <tr>
            <td>2nd</td>
            <td>30</td>
            <td>Anahi</td>
          </tr>
          <tr>
            <td>3rd</td>
            <td>30</td>
            <td>Name</td>
          </tr>
          <tr>
            <td>4th</td>
            <td>30</td>
            <td>Name</td>
          </tr>
          <tr>
            <td>5th</td>
            <td>30</td>
            <td>Name</td>
          </tr>
          <tr>
            <td>6th</td>
            <td>30</td>
            <td>Name</td>
          </tr>
          <tr>
            <td>7th</td>
            <td>30</td>
            <td>Name</td>
          </tr>
          <tr>
            <td>8th</td>
            <td>30</td>
            <td>Name</td>
          </tr>
          <tr>
            <td>9th</td>
            <td>30</td>
            <td>Name</td>
          </tr>
          <tr>
            <td>10th</td>
            <td>30</td>
            <td><input type="text" name="name" id="name_input" size="6"></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
<script type="text/javascript" charset="utf-8">
  Modernizr.load([{
    load: "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js",
    complete: function() {
      if ( !window.jQuery ) {
        Modernizr.load('jquery-1.7.1.min.js');
      }
    }
  },{
    load: 'pacman.js'
  }, {
    load: 'ui.js'
  }]);
</script>
  <!-- Code on <a href="http://github.com/jeduan/pacman">Github</a> -->

</body>
</html>
