/* @override 
	http://localhost:9292/screen.css */

@font-face {
  font-family: 'BDCartoonShoutRegular';
    src: url('BD_Cartoon_Shout-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SilkscreenNormal';
  src: url('slkscr-webfont.eot');
  src: url('slkscr-webfont.eot?#iefix') format('embedded-opentype'),
       url('slkscr-webfont.woff') format('woff'),
       url('slkscr-webfont.ttf') format('truetype'),
       url('slkscr-webfont.svg#SilkscreenNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wrap {
  width: 342px;
  height: 450px;
  position: relative;
  overflow-x: hidden;
}

.inner-wrap {
  width:  1042px;
  height: 450px;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.panel {
  height:450px;
  width:342px;
  float: left;
  font-family:  SilkscreenNormal;
  font-size: 18px;
}

#start.panel {
  line-height: 320px;
  text-align: center;
  
}

#pacman.panel {
  
}

#highscores h2 {
  text-align: center;
}

#highscores table {
  width: 320px;
  font-size: 22px;
  margin: 0 auto;
}

#highscores table td:first-child {
  width: 30%;
}

#highscores table td:nth-child(2) {
  width: 30%;
}

#highscores table th {
  text-align: center;
}

#highscores table tr:nth-child(6),
#highscores thead tr {
  color: #F8F801;
}

#highscores table tbody tr:first-child {color: #DCDCDC;}
#highscores table tbody tr:nth-child(2) {color: #FC0304;}
#highscores table tbody tr:nth-child(3) {color: #FCB444;}
#highscores table tbody tr:nth-child(4) {color: #FCB494;}
#highscores table tbody tr:nth-child(5) {color: #F4CC34;}
#highscores table tbody tr:nth-child(7) {color: #13B42C;}
#highscores table tbody tr:nth-child(8) {color: #06DEC2;}
#highscores table tbody tr:nth-child(9) {color: #119CB4;}
#highscores table tbody tr:nth-child(10) {color: #09D423;}

#highscores table th:nth-child(3) {
  text-align: right;
}
#highscores table td:nth-child(3) {
  width: 40%;
  text-align: right;
}

#shim { 
  font-family: SilkscreenNormal, monospace; 
  position:absolute;
  visibility:hidden
}

h1 { 
  font-family: SilkscreenNormal, monospace; 
  text-align:center; 
}

body {
 width:342px; 
 margin:0px auto; 
 font-family:sans-serif;
 background: black;
 color: white;
}

a { text-decoration:none; }